@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 202 65% 83%;
    --primary-foreground: 202 65% 20%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 4% 45.1%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 73% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 89.8%;
    --input: 210 20% 94.8%;
    --ring: 202 65% 83%;
    --chart-1: 202 65% 83%;
    --chart-2: 120 73% 75%;
    --chart-3: 202 65% 60%;
    --chart-4: 120 73% 50%;
    --chart-5: 202 65% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 202 65% 83%;
    --sidebar-primary-foreground: 202 65% 20%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 210 10% 23%;
    --sidebar-border: 210 20% 89.8%;
    --sidebar-ring: 202 65% 83%;
  }
  .dark {
    --background: 210 10% 10%;
    --foreground: 0 0% 98%;
    --card: 210 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 202 65% 83%;
    --primary-foreground: 202 65% 20%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 4% 64.9%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 73% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 202 65% 83%;
    --chart-1: 202 65% 83%;
    --chart-2: 120 73% 75%;
    --chart-3: 202 65% 60%;
    --chart-4: 120 73% 50%;
    --chart-5: 202 65% 40%;
    --sidebar-background: 210 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 202 65% 83%;
    --sidebar-primary-foreground: 202 65% 20%;
    --sidebar-accent: 210 10% 23%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 10% 23%;
    --sidebar-ring: 202 65% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
